html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  background: #368dda;
  text-align: center;
  font-size: 2em;
  font-family: 'Alegreya', serif;
  font-style: italic;
  padding: 50px;
}

img{
  margin-bottom: 1.5em;
}

.my-fun-class {
  width: 50%;
  border: 0px solid lightgrey!important;
  background-color: ;
  margin: auto;
  font-size: .8em;
  border-radius: 15px;
}

.my-fun-class-2 {
  width: 50%;
  border: 0px solid lightgrey!important;
  background-color: ;
  padding-top: 20px;
  margin: auto;
  font-size: .8em;
  border-radius: 15px;
}


.my-fun-class-2 p:first-of-type {
text-decoration: underline;
}

.my-fun-class p:first-of-type {
text-decoration: underline;
}


.vanillajs-table td {
    box-sizing: border-box;
    width: 400px !important;
    text-align: left;
    text-align: left;
    padding: 10px;
}

/* .my-fun-class .vanillajs-table-data table tr td:first-of-type {
  display:none;
}

.my-fun-class .vanillajs-table-header td:first-of-type {
  display:none;
} */

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  h1 {
    font-size: 1em;
  }
  .my-fun-class, .my-fun-class-2 {
    width: 90%;
    border: 0px solid lightgrey!important;
    background-color: lightblue;
    margin: auto;
    font-size: .8em;
    border-radius: 15px;
  }


}
